body {
  margin: 0;
}

header, main, footer {
  @include outer-container;
  padding: 0 2em;
}

header {
  @media (min-width: $bp-lrg) {
    @include display(flex);
    @include align-items(center);
  }

  margin: 1em auto 2em auto;

  h1 {
    margin: 0;

    @media (min-width: $bp-lrg) {
      @include flex(1);
      @include flex-grow(2);
    }

    a {
      color: $orange;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: darken($orange, 5%);
      }
    }
  }

  nav {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;

    @media (min-width: $bp-lrg) {
      @include flex(1);
      @include flex-grow(2);
    }

    ul {
      position: relative;
      @include display(block); 
      @media (min-width: $bp-med) {
        @include display(flex);
      }
      margin: 0 auto;
      max-width: none;
      list-style: none;

      li {
        position: relative;
        z-index: 1;
        display: block;
        @media (min-width: $bp-med) {
          @include flex(1);
        }
        margin: 0;
        text-align: center;

        a {
          color: $base0;
          display: block;
          overflow: hidden;
          padding: 1.25em 0.5em;
          position: relative;
          box-shadow: inset 0 -2px $base1;
          text-align: left;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 700;
          font-size: 0.8em;
          line-height: 1;
          text-overflow: ellipsis;
          @include transition(color 0.3s, box-shadow 0.3s);
          white-space: nowrap;

          &:hover {
            box-shadow: inset 0 -2px #74777b;
          }

          &.active {
            box-shadow: inset 0 -2px $blue;
            color: $blue;
          }
        }
      } 
    }
  }
}

main {
  p {
    max-width: 75ch;
  }
}
